// Place all the styles related to the Filters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
  background: url('background.png')
}

.container.content{
  background:#fff;
  margin-top:0;
  padding:20px 20px;
}

ul.nav.navbar-nav{
  float:right;
}

.col-lg-3.sidebar{
  background: #f2f0f0;
  padding:15px 20px;
}

.col-lg-3.sidebar h2{
  margin:0;
  font-size:1.8rem;
  margin:0 0 10px 0;

}
.navbar{
  margin-bottom:2px;
}
.col-lg-9 h2{
  font-size:2.0rem;
  margin:0 0 10px 0;

}
.footer_area{
  position:absolute;
  bottom:0;
  width:100%;
}

footer{
	border-bottom: 1px solid #e5e5e5;
	background-color: #fafafa;
	border: 1px solid #e6e6e6;
	text-align: center;
	color: #999;
	p {
		margin: 0;
		padding: 20px 0;
	}
}
.col-lg-9{
  padding:10px 30px;
}

h2.busca{
  color:#d8334e;
}
.navbar-default{
  background:#fff;
}

input#q{
  margin-bottom:20px;
}
hr{
  border-color:#fff;
}

.inline{
  display:inline-block;
}

.btn-primary{
  background:#d8334e;
  color:#fff;
  border-color:#d8334e;
}
.full{
  width:100%;
}
.restart{
  color:#909090;
  margin-top:5px;
}

article {
  padding:10px 0;
  border-bottom:1px dashed #d8334e;
}

h1{
  color:#d8334e;
  margin-top:0;
  font-size:2.8rem;
  border-bottom:1px solid #d8334e;
  margin-bottom:20px;
}

th{
  background: #eee;
}
