<h1>Editar Produto</h1>

<%= simple_form_for(@product, as: :product, url: product_url(@product.document), method: :patch) do |f| %>
  <%= render 'form', f: f, filters: @filters, product: @product %>
<%- end %>
